/*Colors*/
:root {
  --title-text-color: #3d4040;
  --description-text-color: #2e2d2d;
  --primary-accent-color: #0055dc;
  --page-background-color: #f7fafa;
}

body {
  background-color: var(--page-background-color);
}

.card-features-container {
  margin: auto 2.4rem;
  display: flex;
}

.card-feature {
  font-family: 'Roboto', sans-serif;
  width: 18rem;
  height: 13.5rem;
  margin-top: 1.9rem;
  margin-right: 3.49rem;
}

.card-icon img {
  width: 64px;
  height: auto;
}

.card-feature h2 {
  color: var(--title-text-color);
  font-size: 1.25rem;
  font-family: 'Roboto Bold', sans-serif;
  font-weight: 900;
  margin-top: 0.6rem;
}

.card-feature p {
  color: var(--description-text-color);
  line-height: 1.65rem;
  font-size: 1.02rem;
  margin: 1.8rem auto 1.2rem auto;
}

.card-feature a {
  color: var(--primary-accent-color);
  font-weight: bolder;
  font-family: 'Roboto Bold', sans-serif;
  font-size: 0.85rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 600px) {
  .card-features-container {
    justify-content: space-between;
    flex-flow: column wrap;
  }
}
