/* #TODO: Remove, for debug purposes only*/
#mockup {
  width: 1033px;
  height: 288px;
  background-size: 1033px 288px;
  background-image: url('../interface.16.png');

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.1;
  z-index: 10;
  pointer-events: none;
}

.card-features-container {
  margin: 2.1rem 2.4rem;
  display: flex;
  justify-content: start;
}

.card-feature {
  font-family: 'Roboto', sans-serif;
  width: 21.5rem;
  height: 13.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.fas {
  color: #0055dc;
}

.card-icon {
  margin-left: 0.7rem;
}

.card-feature h2 {
  font-size: 1.55rem;
  font-weight: bold;
}

.card-feature p {
  line-height: 1.6rem;
  font-size: 1.02rem;
}

.card-feature a {
  color: #0055dc;
  font-weight: bolder;
  font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
  .card-features-container {
    justify-content: space-between;
    flex-flow: column wrap;
  }
  .card-feature {
    margin: 1rem auto;
  }
}
