/* #TODO: Remove, for debug purposes only*/
#mockup {
  width: 1033px;
  height: 288px;
  background-size: 1033px 288px;
  background-image: url('../../mockups/interface.16.png');

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

:root {
  --title-text-color: #3d4040;
  --description-text-color: #2e2d2d;
  --primary-accent-color: #0055dc;
  --page-background-color: #f7fafa;
}

body {
  background-color: var(--page-background-color);
}

.card-features-container {
  margin: 2.1rem 2.4rem;
  display: flex;
}

.card-feature {
  font-family: 'Roboto', sans-serif;
  width: 21.5rem;
  height: 13.5rem;
  /* display: flex;
  justify-content: space-between;
  flex-flow: column wrap; */
}

.fas {
  color: var(--primary-accent-color);
}

.card-icon {
  margin-left: 0.6rem;
}

.card-feature h2 {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  font-size: 1.55rem;
  font-weight: 900;
  margin-top: 1.1rem;
}

.card-feature p {
  color: var(--description-text-color);
  line-height: 1.6rem;
  font-size: 1.02rem;
  margin: 1.6rem auto;
}

.card-feature a {
  color: var(--primary-accent-color);
  font-weight: bolder;
  font-size: 1.05rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 600px) {
  .card-features-container {
    justify-content: space-between;
    flex-flow: column wrap;
  }
  .card-feature {
    margin: 1rem auto;
  }
}
